
<h1> New User! WELCOME!</h1>

<form action="<%= users_url %>" method="POST">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
    <label for="user_email" >Email</label>
    <input id="user_email" type='text' name="user[email">

    <label for="user_password" >Password</label>
    <input id="user_password" type='text' name="user[password">

    <input type="submit" value="Create user!">
</form>